# Introduction Python and Jupyter Lab (for Data Science)

## Introduction

In this notebook we introduce the very basics of the [Python](https://www.python.org/) programming language and [Jupyter Notebooks](https://jupyter.org/).

We will only discuss the basics and still rather fast, but hopefully it will be enough to get students started.

We will focus on (basic) tools that are most commonly used in applications to data science.

## Python

[Python](https://www.python.org/) is a simple yet powerful programming language.

Some of its good qualities:

* **Easy syntax:** it is easy to learn, and quick to write programs.
* **Extensible:** there are thousands of modules/libraries that make it easy to accomplish most tasks.
* **Resources:** due to its popularity, it is very easy to find help on how to do something in Python.  (In particular, [Stack Overflow](https://stackoverflow.com/) (which contains Q&A) and [YouTube](https://www.youtube.com/) contain extensive content on Python.)
* **Free and Open Source:** there is no cost to use it, it's been continually improved, and has a strong community behind it.

Some of its drawbacks:

* **Relatively slow:** it cannot compete with some languages, such as C/C++, Java, and Rust in speed.
* **"Quirky":** it sometimes does things differently than other languages.

In *many* cases, the "slow" problem is not a real problem: would you rather spend one hour writing code that will run in 0.1 millisecond, or 10 minutes writing code that will run in 10 milliseconds?  Computers today are so fast that for most "mundane" tasks, Python will be more than fast enough, and considerably easier to use.


### Python for Data Sciences

Python became popular for data science due to its ease of use (and thus gentle learning curve).  But since data science often requires *a lot* of computational power, it seems that it might not be the best option.  This indeed would be the case if were not for specialized libraries that allow Python to perform specific kinds of computations (including the ones we need in data science) almost as fast as faster (and more complex) languages! 

More specifically, [NumPy](https://numpy.org/) allows us to perform computations with arrays of data extremely fast, and it is used by most other packages/libraries that require such computations, such as [pandas](https://pandas.pydata.org/), one of the main libraries for data science.  (We will not discuss those in this notebook, though.)

## Jupyter Notebooks

[Jupyter Notebooks](https://jupyter.org/) allow us to create interactive documents containing code along  with properly formatted text, and thus is quite useful for teaching, presentations, and documenting code.

This is a Jupyter notebook!

Below we have an example of a *code cell*, which runs Python code:

In [1]:
print("Hello worlds!")

Hello worlds!

(You can run other languages in a Jupyter notebook, but here will stick with Python only.)

You can edit the code, by clicking in *cell* containing and editing it, and run the code by pressing `Shift + Enter` in your keyboard.  It will also select the next cell (code or text). If there is no cell following it, it will create a new one.

You can also edit the text you see here: just double click on the text (the cell will enter in *Edit mode* and will look a bit different and will not be formatted), make the necessary changes, and then press `Shift + Enter`.

### Working with Jupyter Notebooks

There are different software that can load and run Jupyter notebooks.  I recommend [Jupyter Lab](https://jupyter.org/) and will describe here how its interface works with Jupyter notebooks.  (Other software that also run Jupyter notebooks often behave similarly.)  Jupyter Lab runs on your browser.

**Creating a new notebook:** You can create a new notebook by clicking on the plus symbol (`+`) on the top of the Jupyter Lab window.  Then, click on the Python icon under *Notebook* (on top).

**Open an existing notebook:** After launching Jupyter Lab, you can open saved notebooks (which are files with extension `ipynb` by default) by clicking on the folder icon on the left pane, navigating to the file, and then double-clicking on the desired file.

**The main menu:** You will find a familiar menu on top, from which you can find most operations, such as saving, closing, shutting down, copying/cutting/pasting, etc.

**Notebook toolbar:** Under the tab with the name of the notebook you will find icons for: 
* saving the notebook, 
* adding a cell (below current), 
* cut, copy, paste cells, 
* run cell (as an alternative to pressing `Shift + Enter`), 
* interrupt kernel (which stops a computation that might be taking to long), 
* restart kernel (which will give a fresh start for the notebook --- code cells need to be run again to take effect), 
* restart kernel and run all cells, 
* a drop down menu to choose the cell type between between *Markdown* (used for text), *Code*, and *Raw*.

### Notebook Modes

A notebook has two modes: *edit mode* or *command mode*.  You are in edit mode when you are editing a cell.  (Remember, you can edit a code cell by simply clicking on it, and a text cell by *double*-clicking on it.)

In edit mode, you will always see the blinking cursor that allows you to enter text.  You can exit edit mode (and thus enter command mode) by pressing the `Escape` key.

In command mode, you will see no blinking cursor, but you will see a blue vertical line to the left of the current selected cell.  In this mode you can issue keyboard commands.  For example:

| Key | Command |
|-----|---------|
| `A` | Add cell *above* selected one |
| `B` | Add cell *below* selected one |
| `M` | Change selected cell to Markdown/Text cell |
| `Y` | Change selected cell to Code cell |
| `C` | Copy selected cells |
| `X` | Cut selected cells |
| `V` | Paste copied/cut cells below selected cell |
| `Z` | Undo |
| `DD` (press `D` twice) | Delete selected cells |


(Note that we follow the convention that `A` represents that key in the keyboard, so *without pressing the `Shift` key*.  We would write `Shift + A` if `Shift` needs to be pressed.)

### Cells

A Jupyter notebook is divided in cells.  We have (basically) two types of cells: text and code.

Code cells have a different darker background and have square brackets `[ ]` on its left, often with an number.  The number represents the order in which the code cell was run.

You can run Python code in code cells.  The code us evaluated by running it (with `Shift + Enter` or clicking on the "Run" icon in the notebook menu).  If the last line of code in the cell produces any output, this result is printed below the cell after running it.  (Note that *only the output of the **last line** is printed*.)

Text cells cannot immediately be seen, as they simply appear as text.  If we have many text cells together, it is not clear at first where one ends and the other begins.  But if you click on a text cell, a blue line appears to its left.


#### Changing Cell Types

If you create a new cell by clicking on the `+` in the notebook menu (below the tab with the notebook file name) or by pressing `A` or `B` in command mode.  By default it will be a code cell, but you can change it either by pressing `M` in command mode (pressing `Escape` to enter command mode) or from the notebook menu.

To change a text cell to a code cell, press `Y` in command mode or choose this option from the notebook menu.


### Keyboard Shortcuts

If you intend to use Jupyter notebooks often, it is *strongly* recommend that you get used to using keyboard shortcuts, as it will greatly increase your productivity.

Besides the ones given above, there are many others that could be useful, and can be found from a simple web search.

### Entering Text

Text cells are formatted with [Markdown](https://daringfireball.net/projects/markdown/), which provides a quick syntax to format text.  Click on [Syntax](https://daringfireball.net/projects/markdown/syntax) in the previous link to learn more about how to use it.

Here are some of the basics:

* **Italic:** `*italic*` produces *italic*.
* **Bold:**  `**bold**` produces **bold**.
* **Headers:**
  - use `# Top Header Title` to produce a top level header;
  - use `## Second Level Header Title` to produce a second level header;
  - use `### Third Level Header Title` to produce a third level header;
* **Links:** use `[link text](link URL)` to create links, for instance `[Python](https://www.python.org/)` produces [Python](https://www.python.org/).
  
Here is an example of an **bullet point list**:

```
* first item
* second item
* third item
```

produces

* first item
* second item
* third item


Here is an example of a **numbered list**:

```
1. first item
2. second item
3. third item
```

produces

1. first item
2. second item
3. third item

### Math in Text Cells

You can also enter mathematical expressions using [LaTeX](https://www.latex-project.org/).  We will not go into much detail here, but there also countless resources for LaTeX online.

But here are some of the basics:

* Surround basic expressions with `$` to get **math formatted expressions**.  For instance, `$x + 1$` produces $x + 1$.  (Compare to what we get without the `$`'s: x + 1 versus $x + 1$.)

* Use `^` for **powers** (between `$`'s), with braces `{ }` surrounding the powers.  For instance `$a^{2} + b^{2} = c^{2}$` produces $a^{2} + b^{2} = c^{2}$.

* Use `\frac` or `\dfrac` to produce **fractions**, with braces `{ }` surrounding the numerator and denominator.  For instance:
  - `$\frac{a^{2} + b^{2}}{c^{2}}$` produces $\frac{a^{2} + b^{2}}{c^{2}}$,
  - `$\dfrac{a^{2} + b^{2}}{c^{2}}$` produces $\dfrac{a^{2} + b^{2}}{c^{2}}$.

* Use `\sqrt` to produce **square roots**, with braces `{ }` surrounding what goes inside.  For instance:
  - `$\sqrt{a^{2} + b^{2}}$` produces $\sqrt{a^{2} + b^{2}}$,
  - `$\sqrt{\dfrac{a^{2} + b^{2}}{c^{2}}}$` produces $\sqrt{\dfrac{a^{2} + b^{2}}{c^{2}}}$.

* Use `$\left({ ... }\right)$` to produce **adjustable parentheses**.  For instance `$\left({ \dfrac{a^{2} + {b^{2^{3}}}}{c^{2}} }\right)$` produces $\left({ \dfrac{a^{2} + {b^{2^{3}}}}{c^{2}} }\right)$.

## Installation

We will *not* go over the installation of [Python](https://www.python.org/) and [Jupyter Lab](https://jupyter.org/) here, but you can find instructions on their respective web sites.

One easier way to install them, along with other Python packages for data science, that seems popular is to install [Anaconda](https://www.anaconda.com/).  On the other hand, the installation process takes a long time and the requires considerable amount of disk space.  Moreover, I've seen the process fail a couple of times for some of my students, so I feel somewhat reluctant to recommend it.

Another alternative is to completely avoid installing it and using some online provider that has all you need already available.  Here are some options, although I only have personal experience with the first on the list:

* [Cocalc](https://cocalc.com/)
* [Google Colab](https://colab.research.google.com/)
* [Kaggle](https://www.kaggle.com/)

Cocalc is quite good and has a free tier, although I do pay a small monthly fee for it, so I am not sure how limited it is.  If they have not changed it since I last tried, it does work well, as long as you do not require a lot of computing power.  It seems good enough for experimentation with Python and Jupyter Notebooks.

I've used Cocalc because it also provides other math tools (and I am a mathematician!), but the other two options seem popular for data science.

## Numbers and Computations

Python (within a Jupyter notebook or in its [shell](https://www.python.org/shell/), which allows us to enter single lines of code) can be used as a calculator.  For instance, to compute:

$$
 1 + \frac{2 \cdot 3}{4}
$$

we simply do:

In [2]:
1 + (2 * 3) / 4

2.5

(Again, press `Shift + Enter` to *evaluate* the cell and see the result.)

The syntax for these computations are mostly intuitive, but it needs to be observed that Python uses `**` for exponentiation instead of the more usual `^`:

In [3]:
2 ** 3

8

Even worse, the symbol `^` does have a meaning, so you will not get an error when you run it, you will just get an unexpected (and incorrect, if you are expecting powers) result:

In [4]:
2 ^ 3

1

(If you are curious, the `^` is used as an [exclusive or](https://en.wikipedia.org/wiki/Exclusive_or), but it will not be important to us here.)

As usual, one thing to be extremely careful when doing computations in a computer is the use of parentheses.  For example, if we want to compute $\dfrac{1}{2 + 3}$, we need `1 / (2 + 3)`, as `1 / 2 + 3` represents $\dfrac{1}{2} + 3$:

In [5]:
1 / (2 + 3)

0.2

In [6]:
1 / 2 + 3

3.5

Python has (basically) two types of numbers: `int` (for integers) and `float` (for "floating point").  In Python, they differ simply by introducing a decimal point.  Thus, we have that `2` and `2.0` *are not the same* in Python (as they are different kinds of numbers).

One peculiarity of Python is that when using the division `/`, even an exact division of integers result in a float:

In [7]:
4 / 2

2.0

We can use `//` instead, which gives an integer:

In [8]:
4 // 2

2

But note that it gives the *quotient* of the division (as in long division) of integers:

In [9]:
14 // 4

3

The remainder of the division can be obtained with `%`:

In [10]:
14 % 4

2

Here are some of the most common operations:

| Command | Operation |
|---------|-----------|
| `+` | Addition |
| `-` | Subtraction |
| `*` | Multiplication |
| `/` | Division (with decimals) |
| `**` | Exponentiation |
| `//` | Quotient of division (for intergers) |
| `%` | Remainder of division (for intergers) |

We also have a few math functions, such as `abs` for the *absolute value*:

In [11]:
abs(5)

5

In [12]:
abs(-5)

5

The function `round` rounds a float to a given number of decimals:

In [13]:
round(123.456789, 3)

123.457

### The `math` Module

Python does not have many math functions loaded from the start.  To get them we need to import the math module:

In [14]:
import math

After running the import command above, we get many mathematical functions (and some constants).  They all start with `math.`.  For instance, we can compute square roots with `math.sqrt`:

In [15]:
math.sqrt(16)

4.0

We also get `math.sin` to compute the sine:

In [16]:
math.sin(2)

0.9092974268256817

We have `math.log` for the *natural log*:

In [17]:
math.log(5)

1.6094379124341003

The number $\pi$ is obtained with `math.pi`:

In [18]:
math.pi  # no parentheses!

3.141592653589793

In [19]:
math.sin(math.pi / 2)

1.0

The base of the natural log (usually denoted by $e$) is given by `math.e`:

In [20]:
math.e

2.718281828459045

In [21]:
math.log(math.e)

1.0

We can find what the module `math` provides by running `help(math)`:

In [22]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

## Variables

We can store values in variables, so that these can be used later.  Here is an example of a computation of a restaurant bill:

In [23]:
subtotal = 30.17
tax_rate = 0.0925
tip_percentage = 0.2

tax = subtotal * tax_rate
tip = subtotal * tip_percentage

total = subtotal + tax + tip

round(total, 2)

38.99

Note how the variable names make clear what the code does, and allows us to reused it by changing the values of `subtotal`, `tax_rate`, and `tip_percentage`.

Variable names can only have:
* letters (lower and upper case),
* numbers, and
* the underscore `_`.

Moreover, variable names *cannot* start with a number and *should* not start with the underscore (unless you are aware of the [conventions for such variable names](https://peps.python.org/pep-0008/#naming-conventions)).

You should always name your variables with descriptive names to make your code more readable.

You should also try to avoid variable names already used in Python, as it would override their builtin values.  For instance, names like `print`, `int`, `abs`, `round` are already used in Python, so you should not used them.

(If the name appears in a green in a code cell in Jupyter, then it is already taken!)

## Comments

We can enter *comments* in code cells to help describe what the code is doing.  Comments are text entered in Python (e.g., in code cells) that is ignored when running the code, so it is only present to provide information about the code.

Comments in Python start with `#`.  All text after a `#` and in the same line is ignored by the Python interpreter.  (By convention, we usually leave two spaces between the code and `#` and one space after it.)

As an illustration, here are some comments added to our previous restaurant code:

In [24]:
# compute restaurant bill

subtotal = 25.63  # meal cost in dollars
tax_rate = 0.0925  # tax rate
tip_percentage = 0.2  # percentage for the tip

tax = subtotal * tax_rate  # tax amount
tip = subtotal * tip_percentage  # tip amount

# compute the total:
total = subtotal + tax + tip

# round to two decimal places
round(total, 2)

33.13

Note that the code above probably did not need the comments, as it was already pretty clear.  Although there is such a thing as "too many comments", it is preferable to write too many than too few comments.

## String (Text)

*Strings* is the name for text blocks in Python (and in most programming languages).  To have a text (or string) object in Python, we simply surround it by single quotes `' '` or double quotes `" "`:

In [25]:
'This is some text.'

'This is some text.'

In [26]:
"This is also some text!"

'This is also some text!'

If we need quotes inside the string, we need to use the other kind to delimit it:

In [27]:
"There's always time to learn something new."

"There's always time to learn something new."

In [28]:
'Descates said: "I think, therefore I am."'

'Descates said: "I think, therefore I am."'

What if we need both kinds of quotes in a string?

We can *escape the quote* with a `\` as in:

In [29]:
"It's well know that Descartes has said: \"I think, therefore I am.\""

'It\'s well know that Descartes has said: "I think, therefore I am."'

In [30]:
'It\'s well know that Descartes has said: "I think, therefore I am."'

'It\'s well know that Descartes has said: "I think, therefore I am."'

Thus, when you repeat the string quote inside of it, put a `\` before it.

Note that you can *always* escape the quotes, even when not necessary.  (It will do no harm.)  In the example below, there was no need to escape the single quote, as seen above:

In [31]:
"It\'s well know that Descartes has said: \"I think, therefore I am.\""

'It\'s well know that Descartes has said: "I think, therefore I am."'

Another option is to use *triple quotes*, i.e., to surround the text by either `''' '''` or `""" """` (and then there is no need for escaping):

In [32]:
'''It's well know that Descartes has said: "I think, therefore I am."'''

'It\'s well know that Descartes has said: "I think, therefore I am."'

On the other hand, we cannot use `""" """` here because our original string *ends* with a `"`.  If it did not, it would also work.  We can simply add a space:

In [33]:
"""It's well know that Descartes has said: "I think, therefore I am." """

'It\'s well know that Descartes has said: "I think, therefore I am." '

Triple quote strings can also contain *multiple lines* (unlike single quote ones):

In [34]:
"""First line.
Second line.

Third line (after a blank line)."""

'First line.\nSecond line.\n\nThird line (after a blank line).'

The output seems a bit strange (we have `\n` in place of line breaks --- we will talk about it below), but it *prints* correctly:

In [35]:
multi_line_text = """First line.
Second line.

Third line (after a blank line)."""

print(multi_line_text)

First line.
Second line.

Third line (after a blank line).

### Special Characters

The backslash `\` is used to give special characters.  (Note that it is *not* the forward slash `/` that is used for division!)

Besides producing quotes (as in `\'` and `\"`), it can also produce line breaks, as seen above.

For instance:

In [36]:
multi_line_text = "First line.\nSecond line.\n\nThird line (after a blank line)."

print(multi_line_text)

First line.
Second line.

Third line (after a blank line).

We can also use `\t` for *tabs*: it gives a "stretchable space" which can be convenient to align text:

In [37]:
aligned_text = "1\tA\n22\tBB\n333\tCCC\n4444\tDDDD"

print(aligned_text)

1	A
22	BB
333	CCC
4444	DDDD

We could also use triple quotes to make it more readable:

In [38]:
aligned_text = """
1 \t A
22 \t BB
333 \t CCC
4444 \t DDDD"""

print(aligned_text)

1 	 A
22 	 BB
333 	 CCC
4444 	 DDDD

Finally, if we need the backslash in our text, we use `\\` (i.e., we also *escape it*):

In [39]:
backslash_test = "The backslash \\ is used for special charaters in Python.\nTo use it in a string, we need double backslashes: \\\\."

print(backslash_test)

The backslash \ is used for special charaters in Python.
To use it in a string, we need double backslashes: \\.

### f-Strings

[f-strings](https://docs.python.org/3/reference/lexical_analysis.html#f-strings) (or *formatted string literals*) are helpful when you want to print variables with a string.

For example:

In [40]:
birth_year = 2008
current_year = 2023

print(f"I was born in {birth_year}, so I am {current_year - birth_year} years old.")

I was born in 2008, so I am 15 years old.

So, we need to preface our (single quoted or double quoted) string with `f` and put our expression inside curly braces `{ }`.  It can be a variable (as in `birth_year`) or an expression.

f-strings also allow us to format the expressions inside braces.  (Check the [documentation](https://docs.python.org/3/reference/lexical_analysis.html#f-strings) if you want to learn more.)

### String Manipulation

We can concatenate string with `+`:

In [41]:
name = "Alice"
eye_color = "brown"

name + " has " + eye_color + " eyes."

'Alice has brown eyes.'

Note that we could have use an f-sting in the example above:

In [42]:
f"{name} has {eye_color} eyes."

'Alice has brown eyes.'

We also have *methods* to help us manipulate strings.

*Methods* are functions that belong to a particular object type, like strings, integers, and floats.  The syntax is `object.method(arguments)`.

We can convert to upper case with the `upper` method:

In [43]:
test_string = "abc XYZ 123"
test_string.upper()

'ABC XYZ 123'

Similarly, the method `lower` converts to lower case:

In [44]:
test_string.lower()

'abc xyz 123'

We can also spit a string into a *list* of strings (more about lists below) with `split`:

In [45]:
test_string.split()

['abc', 'XYZ', '123']

By default, it splits on spaces, but you can give a different character as an argument to specify the separator:

In [46]:
"abc-XYZ-123".split("-")

['abc', 'XYZ', '123']

In [47]:
"abaccaaddd".split("a")

['', 'b', 'cc', '', 'ddd']

## Lists

*Lists* are (ordered) sequences of Python objects.  To create at list, you surround the elements by square brackets `[ ]` and separate them with commas `,`.  For example:

In [48]:
list_of_numbers = [5, 7, 3, 2]

list_of_numbers

[5, 7, 3, 2]

But lists can have elements of any type:

In [49]:
mixed_list = [0, 1.2, "some string", [1, 2, 3]]

mixed_list

[0, 1.2, 'some string', [1, 2, 3]]

We can also have an empty list (to which we can later add elements):

In [50]:
empty_list = []

empty_list

[]

### Ranges

We can also create lists of consecutive numbers using `range`.  For instance, to have a list with elements from 0 to 5 we do:

In [51]:
list(range(6))

[0, 1, 2, 3, 4, 5]

(Technically, `range` gives an object similar to a list, but not quite the same.  Using the function `list` we convert this object to an actual list.  Most often we do *not* need to convert the object to a list in practice, though.)

Note then that `list(range(n))` gives a list `[0, 1, 2, ..., n - 1]`, so `n` itself is *not* included!  (This is huge pitfall when first learning with Python!)

We can also tell where to start the list (if not at 0), by passing two arguments:

In [52]:
list(range(3, 10))

[3, 4, 5, 6, 7, 8, 9]

In this case the list start at 3, but ends at 9 (and not 10).

We can also pass a third argument, which is the *step size*:

In [53]:
list(range(4, 20, 3))

[4, 7, 10, 13, 16, 19]

So, we start at exactly the first argument (4 in this case), skip by the third argument (3 in this case), and stop in the last number *before* the second argument (20 in this case).

### Extracting Elements

First, remember our `list_of_numbers` and `mixed_list`:

In [54]:
list_of_numbers

[5, 7, 3, 2]

In [55]:
mixed_list

[0, 1.2, 'some string', [1, 2, 3]]

We can extract elements from a list by position.  But, **Python counts from 0** and not 1.  So, to extract the first element of `list_of_numbers` we do:

In [56]:
list_of_numbers[0]

5

To extract the second:

In [57]:
list_of_numbers[1]

7

We can also count from the end using *negative indices*.  So, to extract the last element we use index `-1`:

In [58]:
mixed_list[-1]

[1, 2, 3]

The element before last:

In [59]:
mixed_list[-2]

'some string'

To extract the `2` from `[1, 2, 3]` in `mixed_list`:

In [60]:
mixed_list[3][1]

2

(`[1, 2, 3]` is at index `3` of `mixed_list`, and `2` is at index `1` of `[1, 2, 3]`.)

### Slicing

We can get sublists from a list using what is called *slicing*.  For instance, let's start with the list:

In [61]:
list_example = list(range(5, 40, 4))

list_example

[5, 9, 13, 17, 21, 25, 29, 33, 37]

If I want to get a sublist of `list_example` starting at index 3 and ending at index 6, we do:

In [62]:
list_example[3:7]

[17, 21, 25, 29]

**Note we used 7 instead of 6!**  Just like with ranges, we stop *before* the second number.

If we want to start at the beginning, we can use 0 for the first number, or simply omit it altogether:

In [63]:
list_example[0:5]  # first 5 elements -- does not include index 5

[5, 9, 13, 17, 21]

In [64]:
list_example[:5]  # same as above

[5, 9, 13, 17, 21]

Omitting the second number, we go all the way to the end:

In [65]:
list_example[-3:]

[29, 33, 37]

We can get the length of a list with the function `len`:

In [66]:
len(list_example)

9

So, we could also do:

In [67]:
list_example[4:len(list_example)]  # all elements from index 4 until the end

[21, 25, 29, 33, 37]

Note that the last valid index of the list is `len(list_example) - 1`, and *not* `len(list_example)`, since, again, we start counting from 0 and not 1.

We can also give a step size for the third argument, similar to `range`:

In [68]:
new_list = list(range(31))

new_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [69]:
new_list[4:25:3]

[4, 7, 10, 13, 16, 19, 22]

### Changing a List

We can also *change elements* in a list.

First, recall our `list_of_numbers`:

In [70]:
list_of_numbers

[5, 7, 3, 2]

If then, for instance, we want to change the element at index 2 in `list_of_numbers` (originally a 3) to a 10, we can do:

In [71]:
list_of_numbers[2] = 10

list_of_numbers

[5, 7, 10, 2]

We can add an element to the end of a list using the `append` *method*.  So, to add $-1$ to the end of `list_of_numbers`, we can do:

In [72]:
list_of_numbers.append(-1)

list_of_numbers

[5, 7, 10, 2, -1]

Note that `append` *changes the original list* and *returns no output*!

We can sort with the `sort` method:

In [73]:
list_of_numbers.sort()

list_of_numbers

[-1, 2, 5, 7, 10]

(Again, it *changes the list and returns no output*!)

To sort in reverse order, we can use the optional argument `reverse=True`:

In [74]:
list_of_numbers.sort(reverse=True)

list_of_numbers

[10, 7, 5, 2, -1]

We can reverse the order of elements with the `reverse` method.  (This method does *no sorting at all*, it just reverse the whole list in its given order.)

In [75]:
mixed_list

[0, 1.2, 'some string', [1, 2, 3]]

In [76]:
mixed_list.reverse()

mixed_list

[[1, 2, 3], 'some string', 1.2, 0]

We can remove elements with the `pop` method.  By default it removes the last element of the list, but you can also pass it the index of the element to removed.

`pop` changes the original list *and* returns the element removed!

In [77]:
list_of_numbers

[10, 7, 5, 2, -1]

In [78]:
removed_element = list_of_numbers.pop()  # remove last element

removed_element

-1

In [79]:
list_of_numbers  # the list was changed!

[10, 7, 5, 2]

In [80]:
removed_element = list_of_numbers.pop(1)  # remove element at index 1

removed_element

7

In [81]:
list_of_numbers  # again, list has changed!

[10, 5, 2]

### List and Strings

One can think of strings as (more or less) lists of characters.  (This is not 100% accurate, as we will see, but it is pretty close.)

So, many of the operations we can do with list, we can also do with strings.

For instance, we can use `len` to find the lenght (or number of characters) of a string:

In [82]:
quote = "I think, therefore I am."

len(quote)

24

We can also extract elements by index:

In [83]:
quote[3]  # 4th character

'h'

And, we can slice a string:

In [84]:
quote[2:20:3]

'tn efe'

Conversely, just as we could concatenate strings with `+`, we can concatenate lists with `+`:

In [85]:
[1, 2, 3] + [4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

The crucial difference is that **we cannot change a string** (like we can change a list).

If, for instance, you try

```python
quote[3] = "X"
```

you get an error.

Finally, if we have a list of strings, we can join them with the *string* method`join`.  (It is not a *list* method.)  The string in question is used to *separate* the strings in the list.  For instance:

In [86]:
list_of_strings = ["all", "you", "need", "is", "love"]

" ".join(list_of_strings)

'all you need is love'

In [87]:
"---".join(list_of_strings)

'all---you---need---is---love'

In [88]:
"".join(list_of_strings)

'allyouneedislove'

## Dictionaries

*Dictionaries* are used to store data that can be retrieve from a *key*, instead of from position.  (In principle, a dictionary has no order!)  So, to each *key* (which must be unique) we have an associate *value*.

You can think of a real dictionary, where you look up definitions for a word.  In this example the keys are the words, and the values are the definitions.

In Python's dictionaries we have the key/value pairs surrounded by curly braces `{ }` and separated by commas `,`, and the key/value pairs are separated by a colon `:`.

For instance, here is a dictionary with the weekdays in French:

In [89]:
french_days = {"Sunday": "dimanche", "Monday": "lundi", "Tuesday": "mardi", 
               "Wednesday": "mercredi", "Thursday": "jeudi", "Friday": "vendredi", "Saturday": "samedi"}

french_days

{'Sunday': 'dimanche',
 'Monday': 'lundi',
 'Tuesday': 'mardi',
 'Wednesday': 'mercredi',
 'Thursday': 'jeudi',
 'Friday': 'vendredi',
 'Saturday': 'samedi'}

(Here the keys are the days in English, and to each key the associate value is the corresponding day in French.)


Then, when I want to look up what is Thursday in French, I can do:

In [90]:
french_days["Thursday"]

'jeudi'

As another example, we can have a dictionary that has all the grades (in a list) o students in a course:

In [91]:
grades = {"Alice": [89, 100, 93], "Bob": [78, 83, 80], "Carl": [85, 92, 100]}

grades

{'Alice': [89, 100, 93], 'Bob': [78, 83, 80], 'Carl': [85, 92, 100]}

To see Bob's grades:

In [92]:
grades["Bob"]

[78, 83, 80]

To get the grade of Carl's second exam:

In [93]:
grades["Carl"][1]

92

We can also add a pair of key/value to a dictionary.  For instance, to enter Denise's grades, we can do:

In [94]:
grades["Denise"] = [98, 93, 100]

grades

{'Alice': [89, 100, 93],
 'Bob': [78, 83, 80],
 'Carl': [85, 92, 100],
 'Denise': [98, 93, 100]}

We can also change the values:

In [95]:
grades["Bob"] = [80, 85, 77]

grades

{'Alice': [89, 100, 93],
 'Bob': [80, 85, 77],
 'Carl': [85, 92, 100],
 'Denise': [98, 93, 100]}

Or, to change a single grade:

In [96]:
grades["Alice"][2] = 95

grades

{'Alice': [89, 100, 95],
 'Bob': [80, 85, 77],
 'Carl': [85, 92, 100],
 'Denise': [98, 93, 100]}

We can use `pop` to remove a pair of key/value by passing the corresponding key.  It returns the *value* for the given key and changes the dictionary (by removing the pair):

In [97]:
bobs_grades = grades.pop("Bob")

bobs_grades

[80, 85, 77]

In [98]:
grades

{'Alice': [89, 100, 95], 'Carl': [85, 92, 100], 'Denise': [98, 93, 100]}

## Conditionals

### Booleans

Python has two reserved names for true and false: `True` and `False`.  (Note it *must* be capitalized for Python to recognize them as booleans!  `true` and `false` do not work!)

For instance:

In [99]:
2 < 3

True

In [100]:
2 > 3

False

One can flip their values with `not`:

In [101]:
not (2 < 3)

False

In [102]:
not (3 < 2)

True

In [103]:
not True

False

In [104]:
not False

True

These can also be combined with `and` and `or`:

In [105]:
(2 < 3) and (4 < 5)

True

In [106]:
(2 < 3) and (4 > 5)

False

In [107]:
(2 < 3) or (4 > 5)

True

In [108]:
(2 > 3) or (4 > 5)

False

Note that `or` is not exclusive (as usually in common language).  In a restaurant, if an entree comes with "soup or salad", both is *not* an option.  But in math and computer science, `or` allows both possibilities being true:

In [109]:
(2 < 3) or (4 < 5)

True

### Comparisons

We have the following comparison operators:

| **Operator** | **Description** |
|--------------|-----------------|
| `==`         | Equality ($=$)  |
| `!=`         | Different ($\neq$) |
| `<`          | Less than ($<$) |
| `<=`         | Less than or equal to ($\leq$) |
| `>`          | Greater than ($>$) |
| `>=`         | Greater than or equal to ($\geq$) |


Note that since we use `=` to assign values to variables, we need `==` for comparisons.  

*It's a common mistake to try to use `=` in a comparison, so be careful!*

Note that we can use

```python
2 < 3 <= 4
```

as a shortcut for

```python
(2 < 3) and (3 <= 4)
```

In [110]:
2 < 3 <= 4

True

In [111]:
2 < 5 <= 4

False

#### String Comparisons

Note that these can also be used with other objects, such as strings:

In [112]:
"alice" == "alice"

True

In [113]:
"alice" == "bob"

False

It's case sensitive:

In [114]:
"alice" == "Alice"

False

The inequalities follow *dictionary order*:

In [115]:
"aardvark" < "zebra"

True

In [116]:
"giraffe" < "elephant"

False

In [117]:
"car" < "care"

True

But note that capital letters come earlier than all lower case letters:

In [118]:
"Z" < "a"

True

In [119]:
"aardvark" < "Zebra"

False

### Methods that Return Booleans

We have functions/methods that return booleans.

For instance, to test if a string is made of lower case letters:

In [120]:
test_string = "abc"

test_string.islower()

True

In [121]:
test_string = "aBc"

test_string.islower()

False

In [122]:
test_string = "abc1"

test_string.islower()

True

Here some other methods for strings:

| **Method** | **Description** |
|------------|-----------------|
| `is.lower` | Checks if all letters are lower case |
| `is.upper` | Checks if all letters are upper case |
| `is.alnum` | Checks if all characters are letters and numbers |
| `is.alpha` | Checks if all characters are letters |
| `is.numeric` | Checks if all characters are numbers |

### Membership

We can test for membership with the keywords `in`:

In [123]:
2 in [1, 2, 3]

True

In [124]:
5 in [1, 2, 3]

False

In [125]:
1 in [0, [1, 2, 3], 4]

False

In [126]:
[1, 2, 3] in [0, [1, 2, 3], 4]

True

It also work for strings:

In [127]:
"vi" in "evil"

True

In [128]:
"vim" in "evil"

False

Note the the character must appear together:

In [129]:
"abc" in "axbxc"

False

We can also write `not in`.  So

```python
"vim" not in "evil"
```

is the same as 

```python
not "vim" in "evil"
```

In [130]:
"vim" not in "evil"

True

## if-Statements

We can use conditionals to decide what code to run using *if-statements*:

In [131]:
water_temp = 110  # in Celsius

if water_temp >= 100:
    print("Water will boil.")

Water will boil.

In [132]:
water_temp = 80  # in Celsius

if water_temp >= 100:
    print("Water will boil.")

The syntax is:

```
if <condition>:
    <code to run if condition is true>
```

Note the indentation: all code that is indented will run when the condition is true!

In [133]:
water_temp = 110  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
    print("(Temperature above 100.)")

Water will boil.
(Temperature above 100.)

In [134]:
water_temp = 80  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
print("Non-indented code does not depend on the condition!")

Non-indented code does not depend on the condition!

We can add an `else` statement for code we want to run *only when the condition is false*:

In [135]:
water_temp = 110  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
else:
    print("Water will not boil.")

print("This will always be printed.")

Water will boil.
This will always be printed.

In [136]:
water_temp = 80  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
else:
    print("Water will not boil.")

print("This will always be printed.")

Water will not boil.
This will always be printed.

We can add more conditions with `elif`, which stands for *else if*.  

For instance, if we want to check if the water will freeze:

In [137]:
water_temp = 110  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
elif water_temp <= 0:
    print("Water will freeze.")

Water will boil.

In [138]:
water_temp = -5  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
elif water_temp <= 0:
    print("Water will freeze.")

Water will freeze.

In [139]:
water_temp = 50  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
elif water_temp <= 0:
    print("Water will freeze.")

Note that if we have overlapping conditions, only the *first* to be met runs!

In [140]:
number = 70

if number > 50:
    print("First condition met.")
elif number > 30:
    print("Second condition met, but not first")

First condition met.

In [141]:
number = 40

if number > 50:
    print("First condition met.")
elif number > 30:
    print("Second condition met, but not first")

Second condition met, but not first

In [142]:
number = 20

if number > 50:
    print("First condition met.")
elif number > 30:
    print("Second condition met, but not first")

We can add an `else` at the end, which will run when all conditions above it (from `if` an `elif`'s) are false:

In [143]:
water_temp = 110  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
elif water_temp <= 0:
    print("Water will freeze.")
else:
    print("Water will neither boil, nor freeze.")

Water will boil.

In [144]:
water_temp = -5  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
elif water_temp <= 0:
    print("Water will freeze.")
else:
    print("Water will neither boil, nor freeze.")

Water will freeze.

In [145]:
water_temp = 40  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
elif water_temp <= 0:
    print("Water will freeze.")
else:
    print("Water will neither boil, nor freeze.")

Water will neither boil, nor freeze.

We can have as many `elif`'s as we need:

In [146]:
water_temp = 110  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
elif water_temp >= 90:
    print("Water is close to boiling!")
elif 0 < water_temp <= 10:
    print("Water is close to freezing!")
elif water_temp <= 0:
    print("Water will freeze.")
else:
    print("Water will neither boil, nor freeze, nor it is close to either.")

Water will boil.

In [147]:
water_temp = 90  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
elif water_temp >= 90:
    print("Water is close to boiling!")
elif 0 < water_temp <= 10:
    print("Water is close to freezing!")
elif water_temp <= 0:
    print("Water will freeze.")
else:
    print("Water will neither boil, nor freeze, nor it is close to either.")

Water is close to boiling!

In [148]:
water_temp = 40  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
elif water_temp >= 90:
    print("Water is close to boiling!")
elif 0 < water_temp <= 10:
    print("Water is close to freezing!")
elif water_temp <= 0:
    print("Water will freeze.")
else:
    print("Water will neither boil, nor freeze, nor it is close to either.")

Water will neither boil, nor freeze, nor it is close to either.

In [149]:
water_temp = 3  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
elif water_temp >= 90:
    print("Water is close to boiling!")
elif 0 < water_temp <= 10:
    print("Water is close to freezing!")
elif water_temp <= 0:
    print("Water will freeze.")
else:
    print("Water will neither boil, nor freeze, nor it is close to either.")

Water is close to freezing!

In [150]:
water_temp = -5  # in Celsius

if water_temp >= 100:
    print("Water will boil.")
elif water_temp >= 90:
    print("Water is close to boiling!")
elif 0 < water_temp <= 10:
    print("Water is close to freezing!")
elif water_temp <= 0:
    print("Water will freeze.")
else:
    print("Water will neither boil, nor freeze, nor it is close to either.")

Water will freeze.

Note that we could also have used instead

```python
if water_temp >= 100:
    print("Water will boil.")
elif water_temp >= 90:
    print("Water is close to boiling!")
elif water_temp <= 0:
    print("Water will freeze.")
elif water_temp <= 10:
    print("Water is close to freezing!")
else:
    print("Water will neither boil, nor freeze, nor it is close to either.")
```

but *not*

```python
if water_temp >= 100:
    print("Water will boil.")
elif water_temp >= 90:
    print("Water is close to boiling!")
elif water_temp <= 10:
    print("Water is close to freezing!")
elif water_temp <= 0:
    print("Water will freeze.")
else:
    print("Water will neither boil, nor freeze, nor it is close to either.")
```

In [151]:
water_temp = -5  # should say it is freezing!

if water_temp >= 100:
    print("Water will boil.")
elif water_temp >= 90:
    print("Water is close to boiling!")
elif water_temp <= 10:
    print("Water is close to freezing!")
elif water_temp <=0:
    print("Water will freeze.")
else:
    print("Water will neither boil, nor freeze, nor it is close to either.")

Water is close to freezing!

## for Loops

We can use *for-loops* for repeating tasks.

Let's show its use with an example.

### Loops with `range`

To print *Beetlejuice* three times we can do:

In [152]:
for i in range(3):
    print("Beetlejuice")

Beetlejuice
Beetlejuice
Beetlejuice

The `3` in `range(3)` is the number of repetitions, and the indented block below the `for` line is the code to be repeated.  The `i` is the *loop variable*, but it is not used in this example.  (We will examples when we do use it soon, though.)

Here `range(3)` can be thought as the list `[0, 1, 2]` (as seen above), and in each of the three times that the loop runs, the loop variable, `i` in this case, receives one of the values in this list *in order*.

Let's illustrate this with another example:

In [153]:
for i in range(3):
    print(f"The value of i is {i}")  # print the value of i

The value of i is 0
The value of i is 1
The value of i is 2

So, the code above is equivalent to running:

In [154]:
# first iteration
i = 0
print(f"The value of i is {i}")

# second iteration
i = 1
print(f"The value of i is {i}")

# third iteration
i = 2
print(f"The value of i is {i}")

The value of i is 0
The value of i is 1
The value of i is 2

Here the `range` function becomes quite useful (and we should not surround it by `list`!).  For instance, if we want to add all even numbers, between 4 and 200 (both inclusive), we could do:

In [155]:
total = 0  # start with 0 as total

for i in range(2, 201, 2):  # note the 201 instead of 200!
    total = total + i  # replace total by its current value plus the value of i

print(total)  # print the result

10100

It's worth observing that `total += i` is a shortcut (and more efficient than) `total = total + i`, so we could have done:

In [156]:
total = 0  # start with 0 as total

for i in range(2, 201, 2):  # note the 201 instead of 200!
    total += i  # replace total by its current value plus the value of i

print(total)  # print the result

10100

Let's now create a list with the first $10$ perfect squares:

In [157]:
squares = []  # start with an empty list

for i in range(10):  # i = 0, 1, 2, ... 9
    squares.append(i ** 2)  # add i ** 2 to the end of squares

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Loops with Lists

One can use any list instead of just `range`.  For instance:

In [158]:
languages = ["Python", "Java", "C", "Rust", "Julia"]

for language in languages:
    print(f"{language} is a programming language.")

Python is a programming language.
Java is a programming language.
C is a programming language.
Rust is a programming language.
Julia is a programming language.

The code above is equivalent to

In [159]:
language = "Python"
print(f"{language} is a programming language.")

language = "Java"
print(f"{language} is a programming language.")

language = "C"
print(f"{language} is a programming language.")

language = "Rust"
print(f"{language} is a programming language.")

language = "Julia"
print(f"{language} is a programming language.")

Python is a programming language.
Java is a programming language.
C is a programming language.
Rust is a programming language.
Julia is a programming language.

### Loops with Dictionaries

We can also loop over dictionaries.  In this case the loop variable receives the *keys* of the dictionary:

In [160]:
french_days

{'Sunday': 'dimanche',
 'Monday': 'lundi',
 'Tuesday': 'mardi',
 'Wednesday': 'mercredi',
 'Thursday': 'jeudi',
 'Friday': 'vendredi',
 'Saturday': 'samedi'}

In [161]:
for day in french_days:
    print(f"{day} in French is {french_days[day]}.")

Sunday in French is dimanche.
Monday in French is lundi.
Tuesday in French is mardi.
Wednesday in French is mercredi.
Thursday in French is jeudi.
Friday in French is vendredi.
Saturday in French is samedi.

### List Comprehensions

Python has a shortcut to create lists that we would usually created with a for loop.  It is easier to see how it works with a couple of examples.

Suppose we want to create a function with the first ten positive cubes.  We can start with an empty list and add the cubes in a loop, as so:

In [162]:
# empty list
cubes = []

for i in range(1, 11):
    cubes.append(i ** 3)
    
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Using *list comprehension*, we can obtain the same list with:

In [163]:
cubes = [i ** 3 for i in range(1, 11)]

cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Here is a more complex example.  Suppose we want to create a list of lists like:

```python
[[1],
 [1, 2],
 [1, 2, 3], 
 [1, 2, 3, 4],
 [1, 2, 3, 4, 5]]
```

To do that, we need *nested for loops:

In [164]:
nested_lists = []

for i in range(1, 6):
    inner_list = []
    for j in range(1, i + 1):
        inner_list.append(j)
    nested_lists.append(inner_list)
    
nested_lists

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5]]

(Note that we could have replaced the inner loop with `inner_list = list(range(1, i + 1)`, but let's keep the loops to illustrate the mechanics of the process of changing from loops to list comprehensions.)

Here is how we can do it using list comprehension:

In [165]:
nested_lists = [[j for j in range(1, i + 1)] for i in range(1, 6)]

nested_lists

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5]]

## Functions

You are probably familiar with functions in mathematics.  For instance, if $f(x) = x^2$, then $f$ take some number $x$ as its *input* and returns its square $x^2$ as the *output*.  So,

$$
\begin{align*}
  f(1) &= 1^2 = 1, && \text{(input: $1$, output: $1$)}; \\
  f(2) &= 2^2 = 4, && \text{(input: $2$, output: $4$)}; \\
  f(3) &= 3^2 = 9, && \text{(input: $3$, output: $9$)}; \\
  f(4) &= 4^2 = 16, && \text{(input: $4$, output: $16$)}.
\end{align*}
$$

We can do the same in Python:

In [166]:
def square(x):
    return x ** 2

Here is a brief description of the syntax:

* `def` is the keyword that tell Python we are *defining* a function;
* `square` is the name of the function we chose (it has the same requirements as variable names);
* inside the parentheses after the name come the parameter(s), i.e., the inputs of the function, in this case only `x`;
* indented comes the code that runs when the function is called;
* `return` gives the value that will be returned by the function, i.e., the output.

Now to run, we just use the name with the desired input inside the parentheses:

In [167]:
square(1)

1

In [168]:
square(2)

4

In [169]:
square(3)

9

In [170]:
square(4)

16

It is *strongly recommended* that you add a *docstring* describing the function right below its `def` line.  We use triple quotes for that:

In [171]:
def square(x):
    """
    Given a value x, returns its square x ** 2.
    
    INPUT:
    x: a number.
    
    OUTPUT:
    The square of the input.
    """
    return x ** 2

It does not affect how the function works:

In [172]:
square(3)

9

But it allows whoever reads the code for the function to understand what it does.  (This might be *you* after a few days not working on the code!)

It also allows anyone to get help for the function:

In [173]:
help(square)

Help on function square in module __main__:

square(x)
    Given a value x, returns its square x ** 2.

    INPUT:
    x: a number.

    OUTPUT:
    The square of the input.

Functions are like mini-programs.  For instance, remember the code to compute a restaurant bill:

In [174]:
# compute restaurant bill

subtotal = 25.63  # meal cost in dollars
tax_rate = 0.0925  # tax rate
tip_percentage = 0.2  # percentage for the tip

tax = subtotal * tax_rate  # tax amount
tip = subtotal * tip_percentage  # tip amount

# compute the total:
total = subtotal + tax + tip

# round to two decimal places
round(total, 2)

33.13

We can turn it into a function!  We can pass `subtotal`, `tax_rate`, and `tip_percentage` as arguments, and get the total.

Here is how it is done:

In [175]:
def restaurant_bill(subtotal, tax_rate, tip_percentage):
    """
    Given the subtotal of a meal, tax rate, and tip percentage, returns
    the total for the bill.
    
    INPUTS:
    subtotal: total cost of the meal (before tips and taxes);
    tax_rate: the tax rate to be used;
    tip_percentage: percentage of subtotal to be used for the tip.
    
    OUTPUT:
    Total price of the meal with taxes and tip.
    """
    tax = subtotal * tax_rate  # tax amount
    tip = subtotal * tip_percentage  # tip amount

    # compute the total:
    total = subtotal + tax + tip

    # return total rounded to two decimal places
    return round(total, 2)

So, `restaurant_bill(25.63, 0.0925, 0.2)` should return the same value as above, `33.13`:

In [176]:
restaurant_bill(25.63, 0.0925, 0.2)

33.13

But now we can use other values, without having to type all the code again.  For instance, if the boll was $\$30$, tax rate is $8.75\%$, and we tip $18\%$, our bill comes to:

In [177]:
restaurant_bill(30, 0.0875, 0.18)

38.02

### Default Values

If we the tax rate and tip percentages don't usually change, we can set some default values for them in our function.  

For instance, let's assume that the tax rate is usually $9.25\%$ and the tip percentage is $20\%$.  We just set these values in the declaration of the function.  I also change the docstring to reflect the changes, but the rest remains the same.

In [178]:
def restaurant_bill(subtotal, tax_rate=0.0925, tip_percentage=0.2):
    """
    Given the subtotal of a meal, tax rate, and tip percentage, returns
    the total for the bill.
    
    INPUTS:
    subtotal: total cost of the meal (before tips and taxes);
    tax_rate: the tax rate to be used;
              default value: 0.0925 (9.25%);
    tip_percentage: percentage of subtotal to be used for the tip;
                    default value: 0.2 (20%).
    
    OUTPUT:
    Total price of the meal with taxes and tip.
    """
    tax = subtotal * tax_rate  # tax amount
    tip = subtotal * tip_percentage  # tip amount

    # compute the total:
    total = subtotal + tax + tip

    # return total rounded to two decimal places
    return round(total, 2)

Now, every time I use the default values, we can omit them:

In [179]:
restaurant_bill(25.63)

33.13

But I still can change them!  If I want to give a tip of $22\%$, I can do:

In [180]:
restaurant_bill(25.63, tip_percentage=0.22)

33.64

And if I am at a different state, where the tax rate is $8.75\%$:

In [181]:
restaurant_bill(25.63, tax_rate=0.0875)

33.0

And I can alter both, of course:

In [182]:
restaurant_bill(30, tax_rate=0.0875, tip_percentage=0.18)

38.02

### Lambda (or Nameless) Functions

We can create simple one line functions with a shortcut, using the `lambda` keyword.

For instance, here is how we can create the `square` function from above with:

In [183]:
square = lambda x: x ** 2

Here is a description of the syntax:

* `square =` just tells to store the result of the expression following `=` into the variable `square` (as usual).  In this case, the expression gives a *function*.
* `lambda` is the keyword that tells Python we are creating a (lambda) function.
* What comes before the `:` are the arguments of the function (only `x` in this case).
* What comes after the `:` is what the function returns (`x ** 2` in this case).  (It must be a single line, containing what would come after `return` in a regular function.)

Again, except for the docstring, which we *cannot* add with lambda functions, the code is equivalent to what we had before for the `square` function.

In [184]:
square(3)

9

In [185]:
square(4)

16

Here is another example, with two arguments:

In [186]:
average_of_two = lambda x, y: (x + y) / 2

In [187]:
average_of_two(3, 7)

5.0

In [188]:
average_of_two(5, 6)

5.5

**Note:** The most common use for lambda functions is to create functions that we pass *as arguments to other functions or methods*.  

In this scenario, we do not need to first create a function with `def`, giving it a name, and then pass this name as the argument of the other function/method.  We can simply create the function *inside the parentheses of the argument of the function*.  Thus, we do not need to name this function in the argument, which is why we sometimes call these lambda functions *nameless*.

Here is an example.  Let's create a function that takes another function as an argument and returns the result of this function when evaluated at $1$:

In [189]:
def evaluate_at_1(function):
    """
    Evaluates given function at 1.
    
    INPUT:
    function: some funciton with one (numerical) argument.
    
    OUTPUT:
    The function evaluated at 1.
    
    """
    return function(1)

So, if we call `evaluate_at_1(square)`, we should get `1 ** 2`, i.e., `1`:

In [190]:
evaluate_at_1(square)

1

Now consider the function `add_one`:

In [191]:
def add_one(x):
    """
    Given x, returns x + 1.
    
    INPUT:
    x: some number.
    
    OUTPUT:
    The number given plus 1.
    """
    return x + 1

Now, if we call `evaluate_at_one(add_one)`, we should get `1 + 1`, i.e., `2`:

In [192]:
evaluate_at_1(add_one)

2

I could also create a function `add_two` that would return the input plus $2$.  But if all I need of this function is to pass it as an argument to `evaluate_at_1`, I can create it directly, without first creating and giving it a name:

In [193]:
evaluate_at_1(lambda x: x + 2)

3

This example is a bit artificial, but this need to pass functions as arguments often occurs in practice, and lambda functions come handy.

## Comments, Suggestions, Corrections

Please send your comments, suggestions, and corrections to lfinotti@utk.edu.