# Playground

In [131]:
hands[4].sort_values("Value")

  Rank      Suit  Value
2    3  Diamonds      2
3    4  Diamonds      3
4    5  Diamonds      4
5    6  Diamonds      5
6    7  Diamonds      6